* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container to center the hero section */
.parent-container {
    margin: 100px;
    /* Space outside the container */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

/* Hero section styling */
.hero-section {
    width: 100vw;
    height: 80vh;
    background-color: #F3EED9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content styling */
.content {
    text-align: center;
}

/* Heading styles */
h1 {
    color: rgba(185, 70, 70, 0.913);
}

h6 {
    color: black;
}